<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Base</string>
	<key>CFBundleDisplayName</key>
	<string>Money Box</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Money Box FREE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.10.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>amp2491e99149246d4c6b7e050-c9d5a87e-3d24-11e6-456a-00adad38bc8d</string>
				<string>fb384325008407941</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.10.4.5</string>
	<key>FacebookAppID</key>
	<string>384325008407941</string>
	<key>FacebookDisplayName</key>
	<string>Money Box FREE</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>set</string>
	<key>NSCalendarsUsageDescription</key>
	<string>set date</string>
	<key>NSCameraUsageDescription</key>
	<string>To set a Goal picture</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app will optionally use Face ID or Touch ID</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To save Picture</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To set a Goal picture</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>SFUIDisplay-Black.otf</string>
		<string>SFUIDisplay-Bold.otf</string>
		<string>SFUIDisplay-Heavy.otf</string>
		<string>SFUIDisplay-Light.otf</string>
		<string>SFUIDisplay-Medium.otf</string>
		<string>SFUIDisplay-Regular.otf</string>
		<string>SFUIDisplay-Semibold.otf</string>
		<string>SFUIDisplay-Thin.otf</string>
		<string>SFUIDisplay-Ultralight.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>IPhone5</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
